# Flutter/Dart
.dart_tool/
build/
*.dart.js
*.dart.js.deps
*.dart.js.map
*.info.json
*.dart.js.map
*.part.js
*.part.js.map
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
.DS_Store
**/doc/api/
*.log
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/android/.gradle
**/android/app/.cxx
**/android/app/build
**/android/.idea
**/android/.settings
**/android/.project
**/android/.classpath
